
<div class='center content_box'>
<h1> Donation </h1>
<br/>
	<form method='post' action=''>
	{% csrf_token %}
		<div>
			<input name="credit_card_num" onfocus="if (this.value=='Credit Card #') this.value = ''" onblur="if (this.value=='') this.value = 'Credit Card #'" type="text" value="Credit Card #">
		</div>
		<br/>
		<div>
		<h2>
		Recipient's Total Calories Burned:
		{{recipient.calories}}</h2>
		</div>
		<br/>
		<div>
			$<input name="donation_amount" onfocus="if (this.value=='Donation Amount') this.value = ''" onblur="if (this.value=='') this.value = 'Donation Amount'" type="text" value="Donation Amount"> USD
		</div>
		<br/>
		<div class="center">
				<input type='submit' />
		</div>

		<div id="AmazonPayButton"/>
	</form>
</div>
