<div class="content_box">
	<div class="center">
		<h1>
			Home Page
		</h1>
		<a href="/user/"><div class="item_box blue_background">Profile</div></a>
		<a href="/groups/"><div class="item_box blue_background">Groups</div></a>
		<a href="/events/event_list"><div class="item_box blue_background">Participating Events</div></a>
		<a href="/user/link_jawbone"><div class="item_box blue_background">Link With Jawbone</div></a>
		<a href="/user/update_calories"><div class="item_box blue_background">Update Calories</div></a>
	</div>
</div>